h1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
body {
    text-align: center;
    width: 100%;
    height: 100%;
    /* background-image: url("../img/tesla_full.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 260px 400px; */
}
#remoteCtn {
    position: relative;
    top: 16px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0;
}
.grayed {
    color: gray;
}
/* .flexDiv {
} */
#windowsButton {
    background-color: cyan;
    color: black;
    padding: 15px 32px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}
.centerSpan {
    text-align: center;
}
.carWindowSpacer {
    position: relative;
    top: 16px;
}
div.fixed {
    text-align: center;
    position: fixed;
    bottom: 8px;
    font-size: initial;
} 
img {
    opacity: 1;
}