h1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
body {
    text-align: center;
    width: 100%;
    height: 100%;
}
#remoteCtn {
    position: relative;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0;
}
.grayed {
    color: gray;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#windowsButton {
    background-color: cyan;
    color: black;
    padding: 15px 32px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}
.centerSpan {
    text-align: center;
}
.carWindowSpacer {
    position: relative;
    top: 16px;
}
div.fixed {
    position: fixed;
    width: 100%;
    bottom: 8px;
    font-size: initial;
} 
img {
    opacity: 1;
}
h2 {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}